<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a  routerLink=""class="navbar-brand"></a>
    

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a  class="nav-link" routerLink="register">Sign Up</a>
      </li>
      <li class="nav-item">
        <a  class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a  class="nav-link" routerLink="profile">{{ username }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </nav>

  
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-3"*ngIf="isLoggedIn">
      <nav id="sidebar">
        <div class="sidebar-header">
            <h3> Sidebar</h3>
        </div>

        <ul class="list-unstyled components">
            
            
            <li>
                <a  class="nav-link" routerLink="employees"> list employees</a>
            </li>
            <li>
              <a  class="nav-link" routerLink="addemploye"> add employee</a>
          </li>
          
           
           
        </ul>

        
    </nav>

    <!-- Page Content  -->
    
       
    </div>
    <div class="col-sm-9">
      <router-outlet></router-outlet>
    </div>
  </div>
  </div>