<div class="col-md-12">  
    <h2> Employee Details</h2>  
    <div class="table-responsive table-container">  
      <table class="table">  
        <thead>  
          <tr>  
            <th>Id</th>  
            <th>Employee Name</th>  
            <th>Email</th>  
            <th>Department</th> 
            <th>Role</th>
            <th>Actions</th> 
          </tr>  
        </thead>  
        <tbody>  
          <tr *ngFor="let emp of employees | async">  
            <td class="hidden">{{emp.id}}</td>  
            <td>{{emp.username}}</td>  
            <td>{{emp.email}}</td>  
            <td>{{emp.department.nom_departement}}</td>
            <td>{{emp.role.role}}</td>  
            <td class="col-sm-4" style="display: flex;">  
              <button *ngIf="showButton" (click)="deleteEmployee(emp.id)" class="btn btn-danger"> Delete</button>  
              <button *ngIf="showButton" (click)="updateEmployee(emp.id)" style="margin-left: 3px;" class="btn btn-info"> Edit</button>  
            </td>  
          </tr>  
        </tbody>  
      </table>  
    </div>  
  </div> 
